.container1{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 500px;
}
.container1 input{
    background-color: #eee;
    border: none;
    margin: 4px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.container1 form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}
.container1 p{
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.3px;
    margin: 15px 0;
}
.container1 button{
    background-color: orange;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container1 button:hover{
    background-color: #00a1ff;
}
.container1 button.hidden{
    background-color: transparent;
    border-color: #fff;
}
.form-container1{
    position: absolute;
    top: 0;
    height: 100%;
   
}
.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up{
    left: 0;
    width: 50%;
    
}
.toggle1{
    background-color: linear-gradient(to left, #ff00e1, #d3149d);
    height: 100%;
    background: linear-gradient(to right, #721ebb  ,#390c74, #7f0e4a);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
   
}
.toggle-container1{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}
.toggle-panel1{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
}

.toggle-left{
    right: 0;
}

@media (max-width: 768px){
    .container1{
    width: 400px;}
    .heading {
        font-size: 29px;

    }
}